/* animations.css contains css animations */

/* Overlay image with title when hovering: */

.recipe__image-hover-effect-title {
  position: relative;
}

/* ----------------  Variant 1 without flex:  ----------------------- */
/*
  .recipe__image-hover-effect-title img {
    transition: 0.3s;
  }
  .recipe__image-hover-effect-title:hover img {
    filter: blur(1px) brightness(70%);
    box-shadow: 0 0 10px black;
  }
  .recipe__image-hover-effect-title :not(img) {
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: black;
    text-align: center;
    width: 100%;
    height: 10rem;
    background: #cfc8c8;
    align-items: center;
    font-size: 3.8rem;
    font-weight: 700;
    opacity: 0;
    transition: 0.2s;
  } 
  .recipe__image-hover-effect-title:hover :not(img) {
    opacity: 1;
  } */ /* display: block; */

/* ----------------   Variant 2 with display-flex  ----------------------- */
/*.recipe__image img {
    display: block;
    width: 100%;
  }*/

.recipe__image-display-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  transition: opacity 0.5s;
  /* background: #a81e43; */
}

.recipe__image-display-title h2 {
  transform: translateY(-2rem);
  transition: transform 0.5s;
  font-size: 3.8rem;
}

.section-cards__image-overlay span {
  transform: translateY(1rem);
  transition: transform 0.25s;
  font-size: 2.5rem;
}

.recipe__image-display-title:hover {
  opacity: 1;
}
.section-cards__image-overlay:hover span,
.recipe__image-display-title:hover h2 {
  transform: translateY(0);
}

.recipe__image-display-title.section-cards__image-overlay:hover {
  background: #dfc8c8; /* middle-red: #a81e43;*/
}

.section-cards__image-overlay:hover span {
  color: #a81e43;
}
