/* cards.css - contains all styles for section-cards with cards and/or slider */
.card-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.container-section-card {
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.card-recipe {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50%;
}
.container-section-card h3 {
  margin-bottom: 7rem;
  padding: 5rem 0rem;
  font-size: 4.5rem;
  color: #a81e43;
  font-weight: 700;
}

.btn {
  background-color: #811c3a;
  border-color: #811c3a;
  border: 1px solid #811c3a;
}

.btn:hover {
  background-color: #dfc8c8;
  color: #000000;
  border: 1px solid #811c3a;
}
