/* contact.css - contains all styles for section-contact */

/* section-contact */

#section-contact {
  color: #a81e43;
  text-align: center;
  background: #dfc8c8; /* #dfc8c8;*/
  /* sb-test radients */
  /* linear-gradient(to top, rgba(250, 0, 0, 1), rgb(252, 251, 253)), */
  /* linear-gradient(to top, rgba(129, 28, 58, 1), rgba(252, 251, 253)), */
  /* linear-gradient(to top, rgba(124, 5, 37, 0.3), rgba(252, 251, 253)), */
  background: linear-gradient(rgba(124, 5, 37, 0.3), rgba(252, 251, 253));
  min-height: 90vh;
  padding: 2rem;
}
.section-contact h2 {
  font-size: 3.8rem;
  padding: 5rem 0rem;
  /* text-transform: uppercase;*/
  letter-spacing: 0.2rem;
  color: #a81e43;
  font-weight: 700;
}

.section-contact form input,
.section-contact form label,
.section-contact form textarea {
  display: block;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #a81e43;
  font-weight: 700;
}
.section-contact form input,
.section-contact form textarea {
  margin: 2rem auto;
  width: 50%;
  background: white;
  opacity: 1;
  border: 1px solid #a81e43;
}

.section-contact form button {
  width: 50%;
  font-size: 1.8rem;
  padding: 1rem 4rem;
  background: #811c3a; /*#cfc8c8; (lightrose) */ /*#a81e43;(middlered)*/
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  margin-bottom: 10rem;
}

.section-contact form button:hover {
  background-color: #fff;
  padding: 0.9rem 3.9rem;
  border: 1px solid #a81e43;
  color: #a81e43;
  font-weight: 500;
}
